<div class="footer-container">
  <div class="footer text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <ul class="connect">
          <li><i class="fa fa-map-marker icons" aria-hidden="true"><span>Third Space Learning 14-22 Elder Street, London E1 6BT</span></i></li>
          <li><a href="mailto:hello@thirdcpaselearning.com?Subject=Hello"><i class="fa fa-envelope-o icons" aria-hidden="true"><span>hello@thirdspacelearning.com</span></i></li>
          <li><a href="https://github.com/petia182" target="_blank"><i class="fa fa-mobile icons" aria-hidden="true"><span>0203 771 0093</span></i></a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <ul class="connect">
          <li><a href="https://twitter.com/thirdspacetweet?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter icons" aria-hidden="true"><span>Follow us on Twitter</span></i></li>
          <li><a href="https://youtube.com" target="_blank"><i class="fa fa-youtube icons" aria-hidden="true"><span>Watch our videos</span></i></li>
          <li><a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin icons" aria-hidden="true"><span>Connect on LinkedIn</span></i></a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <ul class="connect">
          <li><a href="#"> About Us</li></a>
          <li><a href="#"> Careers</li></a>
          <li><a href="#"> Terms & Conditions</li></a>
          <li><a href="#"> Privacy Policy</li></a>
        </ul>
      </div>




    </div>
  </div>
</div>
